# PostgreSQL
POSTGRES_DB=fsp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# JWT
JWT_SECURITY_KEY=
JWT_VALID_ISSUER=FSP.API
JWT_VALID_AUDIENCE=
JWT_EXPIRY_IN_HOURS=48

# App
ASPNETCORE_ENVIRONMENT=Development
